@font-face {
	font-family: BreeSerif;
	src: url(/fonts/BreeSerif-Regular.ttf);
}

.about {
	height: 650px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.autor {
	font-family: BreeSerif;
	font-size: 50px;
}
